[Unit]
Description=LoRa Box

[Service]
WorkingDirectory=/opt/lora-box/bin/
ExecStart=/opt/lora-box/bin/start.sh
SyslogIdentifier=lora-box
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
